    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .dashboard-container{
        width: 100%;
        height: 100vh;
        display: flex;
        background-color: #0f172a;
        color: white;
        overflow: hidden;
    }

    .sidebar{
        width: 320px;
        background-color: #1e293b;
        border-right: 1px solid #334155;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .avatar-placeholder{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #3b82f6;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
        overflow: hidden;
    }

    .profile-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-bottom: 25px;
    }



    .profile-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .username{
        font-size: 1.2rem;
        text-align: center;
    }

    .buttons{
        display: flex;
        width: 100%;
    }

    .edit-btn{
        width: 40%;
        padding: 12px;
        border: none;
        border-radius: 10px;
        background-color:rgb(14, 186, 14);
        color: white;
        cursor: pointer;
        font-size: 1rem;
        transition: 0.3s;
        margin-right: 20px;
    }


    .logout-btn{
        margin-left: 20px;
        width: 50%;
        padding: 12px;
        border: none;
        border-radius: 10px;
        background-color: #ef4444;
        color: white;
        cursor: pointer;
        font-size: 1rem;
        transition: 0.3s;
    }

    .edit-btn:hover{
        background-color: green;
    }

    .logout-btn:hover{
        background-color: #dc2626;
    }

    .search-section{
        margin-bottom: 20px;
    }

    .search-input{
        width: 100%;
        padding: 12px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: #334155;
        color: white;
        font-size: 1rem;
    }

    .search-input::placeholder{
        color: #cbd5e1;
    }


    .chat-list{
        flex: 1;
        overflow-y: auto;
    }

    .empty-chat{
        color: #94a3b8;
        text-align: center;
        margin-top: 30px;
    }

    .chat-area{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0f172a;
        padding: 20px;
    }

    .no-chat-selected{
        text-align: center;
    }

    .no-chat-selected h1{
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .no-chat-selected p{
        color: #94a3b8;
    }

    @media(max-width: 768px){

        .dashboard-container{
            flex-direction: column;
        }

        .sidebar{
            width: 100%;
            height: auto;
            border-right: none;
            border-bottom: 1px solid #334155;
        }

        .chat-area{
            display: none;
        }
        .sidebar{
            height: 100%;
        }
    }
    .searched-user{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
}

.searched-user:hover{
    background-color: #334155;
}

.searched-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #3b82f6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.searched-avatar-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.searched-user-info h4{
    font-size: 1rem;
}

.searched-user-info p{
    color: #94a3b8;
    font-size: 0.9rem;
}